body, div {
    box-sizing: border-box;
}

body > header {
    text-align: center;
}

body {
    background: #FDFDF4;
    margin: auto;
    padding: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25em;
    width: 600px;
    color: #3C3C3C;
}

section.post {
    font-family: Fenix, serif;
    line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    color: #222;
}

body > header h1 {
    margin: 1.3em 0;
}

section.post p {
    margin-bottom: 1.2em;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-align: justify;
}

section.post img {
  width: 100%;
}

section.post .caption {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.7em;
  margin-top: 0;
  line-height: 0.7em;
}

pre {
    padding: 1em;
    overflow-x: auto;
    font-size: 0.8em;
}

code, pre {
    background-color: #F2F2F2;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: #622;
}

ul {
    color: #222;
}

li {
    color: #444;
}

blockquote {
    font-style: italic;
    opacity: 0.9;
}

body>header h1 {
    font-size: 2.2em;
}

body>header h2 {
    font-size: 1.1em;
    font-weight: normal;
}

body > header h1 a.rel {
    font-size: 0.7em;
    color: #3C3C3C;
    margin-left: 0.1em;
    -webkit-transition: background linear 0.2s;
       -moz-transition: background linear 0.2s;
         -o-transition: background linear 0.2s;
            transition: background linear 0.2s;
}
body > header h1 a.rel:hover {
    background: #202020;
    color: #CCC;
}

.posts h2 {
    margin-top: 2em;
}

article header p {
    margin: 0.2em;
    margin-left: 2em;
}

article header {
    margin-bottom: 1.5em;
}

article h1 {
    font-size: 2em;
    margin-bottom: 0.2em;
}

article h2 {
    font-size: 1.5em;
}

article footer {
    background: rgba(0, 0, 0, 0.01);
    padding: 2px 10px;
    margin: 4em 1em 2em;
    font-size: 0.8em;
}

article footer p {
    margin: 5px 0;
}

body>footer {
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 5em;
    padding-top: 2em;
    font-size: 0.7em;
}

body > footer .links a {
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
    body {
      width: 100%;
    }
}
@media screen and (max-width: 500px) {
    body {
      font-size: 1.1em;
    }
}
@media screen and (max-width: 350px) {
    body {
      font-size: 1em;
    }
    section.post p {
      line-height: 1.4em;
    }
}
@media screen and (max-width: 300px) {
    body {
      font-size: 1em;
    }
    body > header h1 {
      font-size: 1.8em;
    }
    section.post p {
      line-height: 1.3em;
    }
}
@media screen and (max-width: 250px) {
    body > header h1 {
      font-size: 1.4em;
    }
    section.post p {
      line-height: 1.2em;
    }
}
